[submodule "libs/LibApolloFixes"]
	path = libs/LibApolloFixes
	url = https://github.com/wildstarnasa/LibApolloFixes.git
[submodule "libs/CallbackHandler"]
	path = libs/CallbackHandler
	url = https://github.com/wildstarnasa/CallbackHandler.git
[submodule "libs/GeminiAddon"]
	path = libs/GeminiAddon
	url = https://github.com/wildstarnasa/GeminiAddon.git
[submodule "libs/GeminiEvent"]
	path = libs/GeminiEvent
	url = https://github.com/wildstarnasa/GeminiEvent.git
[submodule "libs/GeminiHook"]
	path = libs/GeminiHook
	url = https://github.com/wildstarnasa/GeminiHook.git
[submodule "libs/GeminiLogging"]
	path = libs/GeminiLogging
	url = https://github.com/wildstarnasa/GeminiLogging.git
[submodule "libs/LibError"]
	path = libs/LibError
	url = https://github.com/wildstarnasa/LibError.git
[submodule "libs/GeminiTimer"]
	path = libs/GeminiTimer
	url = https://github.com/wildstarnasa/GeminiTimer.git
[submodule "Libs/XmlDocument"]
	path = Libs/XmlDocument
	url = https://github.com/wildstarnasa/XmlDocument.git
[submodule "Libs/SezzAuras"]
	path = Libs/SezzAuras
	url = ssh://martin@192.168.0.240/volume1/sezz/Source/WildStar/SezzAuras.git
[submodule "Libs/SezzAuraControl"]
	path = Libs/SezzAuraControl
	url = ssh://martin@192.168.0.240/volume1/sezz/Source/WildStar/SezzAuraControl.git
[submodule "Libs/SezzContextMenu"]
	path = Libs/SezzContextMenu
	url = ssh://martin@192.168.0.240/volume1/sezz/Source/WildStar/SezzContextMenu.git
[submodule "Libs/SezzUnitFrames"]
	path = Libs/SezzUnitFrames
	url = ssh://martin@192.168.0.240/volume1/sezz/Source/WildStar/SezzUnitFrames.git
